<p id="notice"><%= notice %></p>

<p>
  <b>Twitter:</b>
  <%= @account.twitter_id %>
</p>

<p>
  <b>Twitter token:</b>
  <%= @account.twitter_token %>
</p>

<p>
  <b>Twitter secret:</b>
  <%= @account.twitter_secret %>
</p>

<p>
  <b>Last login:</b>
  <%= @account.last_login %>
</p>

<%= form_for @account,
    :url => account_tweets_path(:account_id => @account.id),
    :method => :delete do |f| %>
  <%= f.submit 'ツイート削除' %>
<% end %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
