<p id="notice"><%= notice %></p>

<p>
  <b>Twitter:</b>
  <%= @account.twitter_id %>
</p>

<p>
  <b>Last login:</b>
  <%= @account.last_login %>
</p>

<%= form_for @account,
    :url => account_tweets_path(:account_id => @account.id),
    :method => :delete do |f| %>
  <%= f.submit 'ツイート削除' %>
<% end %>

<p><b>NG-WORDS:</b></p>
<table>
  <tr>
    <th>Word</th>
    <th></th>
    <th></th>
  </tr>

<% @account.ng_words.each do |ng_word| %>
  <tr>
    <td><%= ng_word.word %></td>
    <td><%= link_to 'Edit', edit_ng_word_path(ng_word) %></td>
    <td><%= link_to 'Destroy', ng_word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Ng word', new_ng_word_path %>
